@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

canvas {
  display: block;
}

header {
  height: 100vh;
  background: radial-gradient(circle, rgba(0, 77, 77, 1) 0%, rgba(0, 26, 26, 1) 50%, rgba(5, 5, 5, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

header h1{
  color: #F9F9F7;
  font-size: 4.5em;
  margin: 0;
  text-shadow: 0 0 20px rgba(2, 255, 242, 0.315);
}

header h2{
  color: #dadad4;
  margin: 0;
  font-weight: 500;
  letter-spacing: 3px;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

section{
  background-color: #F9F9F7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px;
}

section h2{
  color: #004D4D;
  margin-top: 0;
  margin-bottom: 15px;
}

section img{
  height: 300px;
  margin: 15px;
  border-radius: 10px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.123);
}

section div{
  margin: 15px;
}

section p{
  margin: 0;
  color: #1A1A1A ;
}

section p:last-of-type {
  margin-top: 15px;
}

strong{
  color: #004D4D;
}

footer{
  background-color: #1A1A1A;
  color: #F9F9F7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

footer h2{
  margin: 40px 0 0 0;
  font-size: 3em;
  text-transform: uppercase;
  color: #005958;
  letter-spacing: 1px;
}

.integrantes{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 30px;
}

.integrantes div{
  width: 210px;
  text-align: center;
  margin-top: 10px;
}

.integrantes img{
  height: 210px; 
  object-fit: cover; 
  border-radius: 10px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.829);
}

.integrantes h3{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.info{
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.281);
  width: 350px;
}

.info p{
  margin: 2px 0;
  font-size: 0.85rem;
  font-weight: 300;
  color: #949393;
  letter-spacing: 1px;
}

.btn-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 2.5rem;
  z-index: 100;
  line-height: 0;
  padding-bottom: 8px;
  position: absolute; 
  bottom: 30px;
}

header .btn-scroll{
  left: 50%;
  transform: translateX(-50%);
  background-color: #F9F9F7;
  color: #004D4D; 
}

section div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .btn-scroll{
  position: static;
  margin-top: 10px;
  background-color: #004D4D;
  color: #F9F9F7; 
}

main .btn-scroll{
  left: 50%;
  transform: translateX(-50%);
  background-color: #004D4D;
  color: #F9F9F7;
}

footer .btn-scroll{
  right: 40px;
  background-color: #004D4D;
  color: #F9F9F7;
}

header, section, main, footer{
  overflow: hidden; 
}

section img, .integrantes img,
.btn-scroll{
  transition: all 0.3s ease-in-out;
}

section img:hover{
  transform: scale(1.05);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.377);
}

.integrantes img:hover{
  transform: translateY(-10px);
  filter: grayscale(0) brightness(1.1);
}

.btn-scroll:hover{
  transform: scale(1.15);
}

header .btn-scroll:hover{
  transform: translateX(-50%) scale(1.15);
  background-color: #007a7a;
  color: #001a1a;
}

section .btn-scroll:hover{  
  background-color: #007a7a;
}

main .btn-scroll:hover{
  transform: translateX(-50%) scale(1.15);
  background-color: #007a7a;
}

footer .btn-scroll:hover{
  background-color: #007a7a;
}



